<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phising Website Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}">
</head>
<body>
     <nav class="navbar">
            <a href="/" class="logo">Phishing Detection Url System</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Registration</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="dashboard">Dashboard</a></li>
            </ul>
        </nav>
        
    <div class="class3">
    <div class="form-box1 login">
    <form method="POST">
        <fieldset><legend><h1>Check URL</h1></legend>
            <div class="input-box">
            <input type="text" id="url" name="url" placeholder="Enter The URL" required><br/><br/>
            <button class="btn">Click Here</button><br/><br/>
            {{prediction}}
            </div>
    </form>
    </div>
    </div>
</body>
</html>